{{!< default}}
<article class="{{post_class}}">

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}
	

	{{! Everything below outputs content of the the post which has been published }}
	<span class="post-meta"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time> {{#if tags}}on {{tags separator=" | "}}{{/if}}</span>

	<h1 class="post-title">{{{title}}}</h1>
	
	{{#if image}}
	    <img src="{{image}}" class="banner">
	{{/if}}
	

	<section class="post-content">
		{{content}}
	</section>

	<footer class="post-footer">
		{{> disqus }}
	</footer>

{{/post}}
<div id="disqus_thread"></div>
                <script type="text/javascript">
                        var disqus_config = function () {
                        this.page.url = 'defaultswrite.co'; // Replace PAGE_URL with your page's canonical URL variable
                        this.page.identifier = 'defaultswrite.co'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable };
                (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');

                s.src = '//defaults-write.disqus.com/embed.js';

                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</article>
